* {
    margin: 0;
}

.header {
    margin: 0 -200px 0;
    padding: 15px 200px;
    background-color:rgb(19, 19, 87);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 900;
    flex-wrap: wrap;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 50px;
}

.top {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding: 0 200px;
    background-color:midnightblue;
    color: white;
}

.top-content {
    box-sizing: border-box;
    display: flex;
    min-height: 420px;
    justify-content: center;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.top-text {
    font-size: 22px;
    /* border-style: solid; */
    width: 100%;
}

.top-img {
    /* border-style: solid; */
    width: 100%;
    background-color: lightgray;
    color: black;
    text-align: center;
    border-radius: 10px;
    background-image: url(./images/lasagna.png);
    background-size: cover;
}

button {
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    background: blue;
    border-radius: 10px;
    border-style: none;
    transition: 0.4s;
    flex: 0 0 fit-content;
}

button:hover {
    transform: scale(1.2);
}

.middle {
    font-size: 40px;
    font-weight: 900;
    padding: 30px;
    text-align: center;
}

.cards {
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    padding: 30px;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}

.img-box {
    box-sizing: border-box;
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 20px;
    height: 350px;
    width: 350px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-size: cover;
}

.card {
    text-align: center;
    width: 350px;
}

.quote {
    background-color: #eeeeee;
    font-size: 30px;
    padding: 50px 20vw;
}

.citation {
    margin-top: 20px;
    text-align: right;
    font-weight: 800;
}

.poster {
    display: flex;
    width: 70vw;
    background-color:cornflowerblue;
    padding: 50px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer {
    background-color: gray;
    padding: 40px 25vw;
    text-align: center;
}

a {
    cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a {background-image: url(./images/Birdbox.png);}
.b {background-image: url(./images/Peanutbutter.png);}
.c {background-image: url(./images/Ref1.png);}
.d {background-image: url(./images/CAT.webp);}